*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  color: #616161;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="_container"] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* PC */
@media (max-width: 1087px) {
  [class*="_container"] {
    max-width: 970px;
  }
}

/* TABLET */
@media (max-width: 991.98px) {
  [class*="_container"] {
    max-width: 750px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  [class*="_container"] {
    max-width: none;
  }
}

/* MOBILE SMALL*/
@media (max-width: 479.98px) {
  [class*="_container"] {
    max-width: none;
  }
}

[class*="_container"] {
  max-width: z;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  width: 40.22px;
  height: 40px;
}

.logo-text-first {
  position: relative;
  z-index: 5;
  font-family: Rubik;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  list-style: none;
}

.logo-text-second {
  position: relative;
  z-index: 5;
  font-family: Rubik;
  color: #ec5863;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  list-style: none;
}

.header__menu {
  flex: 1 1 auto;
}

.header__button {
  position: relative;
  z-index: 9;
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ....................................... */
.menu {
  display: flex;
  justify-content: flex-end;
  padding: 0px 40px 0px 0px;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin: 0px 40px 0px 0px;
}

.menu__item:last-child {
  margin: 0px;
}

.menu__link {
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #000;
}

@media (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
  }
  .header__button {
    flex: 0 0 150px;
  }
  .menu__item {
    margin: 0px 30px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 90px 15px 30px 15px;
    transition: all 0.3s ease 0s;
  }
  .header:target .menu__body {
    left: 0;
  }
  .header:target .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu__item {
    margin: 0px 0px 25px 0px;
  }
  .menu__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .menu__link {
    font-size: 20px;
  }

  .menu__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 479.98px) {
  .logo-text-first,
  .logo-text-second {
    flex: 0 0 0;
    overflow: hidden;
  }
}

/* ....................................... */
.button {
  display: inline-block;
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #fcfdfe;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #ec5863;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #862027;
}

.button__blue {
  background-color: #4285f4;
}

.button__blue:hover {
  background-color: #184387;
}

/* ....................................... */
.close-icon-menu,
.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    margin: 0px 0px 0px 20px;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: #000;
    height: 2px;
  }
  .icon-menu span {
    height: 2px;
    background-color: #000;
  }
  .close-icon-menu {
    flex: 0 0 30px;
    height: 30px;
    position: relative;
    margin: 0px 0px 0px 20px;
  }
  .close-icon-menu::before,
  .close-icon-menu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #000;
    height: 2px;
  }
  .close-icon-menu::before {
    transform: rotate(45deg);
  }
  .close-icon-menu::after {
    transform: rotate(-45deg);
  }
  .header:target .icon-menu {
    display: none;
  }
  .header:target .close-icon-menu {
    display: flex;
  }
}
/* ............................................................................ */
/* .block-text {
} */

.block-text__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: #000;
}
.block-text__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.block-text__title span {
  color: #ec5863;
}

.block-text__title-blue span {
  color: #4285f4;
}

.block-text__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  color: #616161;
  width: 375px;
}

.block-text__text:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

/* .block-text__button {
} */
/* ............................................................................ */

.get-started {
  background-color: #fafbfd;
}

.get-started__container {
  padding: 150px 15px 50px 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.get-started__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 267px;
  top: 0;
  transform: translate(100%, 0px);
  border-radius: 30px 0px 0px 30px;
  background-color: #ec5863;
}

.get-started__content {
  flex: 0 1 48%;
  padding: 0px 20px;
}

.get-started__block-text {
  max-width: 410px;
}

.get-started__image {
  flex: 0 1 52%;
  position: relative;
  z-index: 2;
}

.get-started__image img {
  max-width: 100%;
}

/* .button {
} */

.get-started__video {
  flex: 1 1 100%;
  margin: 60px 0px 0px 20px;
}

.video-get-started {
  display: inline-flex;
  align-items: center;
}

.video-get-started__icon {
  flex: 0 0 44px;
}

.video-get-started__body {
  padding: 0px 0px 0px 12px;
}

.video-get-started__title {
  color: #b0b0b0;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
}

.video-get-started__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.video-get-started__text {
  color: #000;
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .get-started__container::before {
    right: 185px;
    border-radius: 20px 0px 0px 20px;
  }
}

@media (max-width: 767.98px) {
  .get-started__container {
    padding: 100px 15px 30px 15px;
  }
  .get-started__container::before {
    display: none;
  }
  .get-started__block-text {
    max-width: none;
  }
  .get-started__content {
    flex: 1 1 100%;
    padding: 0;
  }
  .get-started__image {
    flex: 1 1 100%;
    align-items: center;
    padding: 30px 0px;
  }
  .get-started__video {
    padding: 0px;
  }
}
